<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDetyUf9Nn5mT8VTwxG0woav_1UgVDwW3Y</string>
	<key>GCM_SENDER_ID</key>
	<string>450727442932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>HC9N5Z797X.com.deskpro.mobile.ios</string>
	<key>PROJECT_ID</key>
	<string>deskpro-messenger</string>
	<key>STORAGE_BUCKET</key>
	<string>deskpro-messenger.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450727442932:ios:d0dc056a89cc700d81e1a1</string>
</dict>
</plist>